
  label {font-weight:bold;}

  .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



body{font-family:Nunito-Regular !important;}

@font-face {
  font-family: Nunito-Regular;
  src: url('../font/Nunito-Regular.woff') format('woff');
}



@font-face {
  font-family: Nunito-Bold;
  src: url(../font/Nunito-Bold.woff) format('woff');
}

.hlcolor {color:#4C9EAA !important;}
.shadoww {box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;}

.offcanvas-header {flex-direction:row-reverse;}
.offcanvas {width:250px !important;}
.menutxt {font-size:22px;}
.nav-item a{padding-left: 85px !important;}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link, .nav-link:focus, .nav-link:hover { } 

.navbar-nav .heallink.active, .heallink.focus, heallink:hover{background-color:#4c9eaa; color:#ffffff; padding-left: 85px !important;}

.pdrl0 {padding-right:0px !important; padding-left:0px !important;;}


.copyright {font-family: Nunito-Regular;  font-size:14px; line-height:40px;}
.bgheal{background-color: #E6F9F6; height:40px;}
.text002 {color:#797979;}
.healbox {border: 1px solid #cccccc; height: 100px; margin-right: 20px; margin-left: 20px; border-radius: 12px; font-size:18px; text-align:center; padding-top:20px; text-decoration:none; color:#343A40;}
.hlbx1 {  border: double 1px transparent;
  border-radius: 12px;   background-image: linear-gradient(to right,#e8f3f4, #e7f4ee), linear-gradient(to right,#4DA0A9, #37AA77);   background-origin: border-box;
  background-clip: padding-box, border-box;}
   .hlbx1 h2 {  background: -webkit-linear-gradient(45deg,#4C9EAA, #2AAD5C); font-weight:bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;}
  
  .hlbx2 {  border: double 1px transparent;  border-radius: 12px;   background-image:linear-gradient(to right,#e8f3f4, #e7f4ee), linear-gradient(to right,#36AF58, #80BC3D);   background-origin: border-box;  background-clip: padding-box, border-box;}
  .hlbx2 h2 { font-weight:bold; background: -webkit-linear-gradient(45deg,#2AAD5C, #37AA77); 
  -webkit-background-clip: text;   -webkit-text-fill-color: transparent;}
  
  .hlbx3 {  border: double 1px transparent;  border-radius: 12px;   background-image: linear-gradient(to right,#f0f7e8, #f5f5e6), linear-gradient(to right,#81BD3E, #ABB22E);   background-origin: border-box;  background-clip: padding-box, border-box;}
  
   .hlbx3 h2 { font-weight:bold; background: -webkit-linear-gradient(45deg,#7EB046, #9EA62C);   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;}
  
  .hlbx4 {  border: double 1px transparent;  border-radius: 12px;   background-image: linear-gradient(to right,#f8f1e5, #fbede3), linear-gradient(to right,#C69126, #DF641A);   background-origin: border-box;  background-clip: padding-box, border-box;}
   .hlbx4 h2 { font-weight:bold; background: -webkit-linear-gradient(45deg,#BF9B28, #E35C18);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;}
  
  .hlbx5 {  border: double 1px transparent;
  border-radius: 12px;   background-image: linear-gradient(to right,#fcece4, #fee1e1), linear-gradient(to right,#DF641A, #FF0000);   background-origin: border-box;
  background-clip: padding-box, border-box;}
   .hlbx5 h2 { font-weight:bold; background: -webkit-linear-gradient(45deg,#E0631A, #FF0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;}
  
  
 .healboxx {border: 1px solid #cccccc; height: 140px; border-radius: 12px; font-size:18px; text-align:center; padding-top:20px; text-decoration:none !important; color:#343A40;} 
 .bxt {color: #4C9EAA;}
.bxtt {color: #343A40;}
  

.healspantab {padding:20px 0px; border:none !important; width:147px; margin-right: 35px !important; font-size:24px !important; color:#757575 !important;}
.healspantab.active{ background-image: url("../img/Rectangle-194.png") !important; background-repeat: no-repeat !important; background-position: bottom !important; color:#000000 !important}
.healspantab {padding:20px 30px; border:none !important;}

.vtabborder {border:1px solid #cccccc; border-radius: 12px 0px 0px 12px;} 
.vb1{border-radius: 12px 0px 0px 0px;}
.healspantabv {padding:20px 30px !important; border:none !important; width:238px; font-size:18px !important; color:#000000 !important; font-weight:bold !important; text-align:left; background:none;}
.healspantabv.active{ background-image: url("../img/Rectangle-480.png") !important; background-color:#dbecee; background-repeat: no-repeat !important; background-position: right !important; color:#000000 !important;}
.healtbv {color:#297682 !important; border-top: 1px solid #E2E5E5 !important; font-size:20px;}

.healm {float:right; right:100px; right: 138px; top: 115px; pointer-events:auto !important;}
.healmenu {background-color: #ffffff; padding:7px 30px; margin-bottom:30px; border: 1px solid #4c9eaa; border-radius: 12px; color: #4C9EAA; font-size:22px; text-align:center; font-weight:regular;}

.healmenulist {list-style-type: none; width:350px;}
.healmenulist a:hover{background-color:#4c9eaa; color:#ffffff !important; text-decoration:none !important;}
.healmenulist  a {color:#4c9eaa !important; text-decoration:none !important;}
.healmenulist li:hover { background-color:#4c9eaa; color:#ffffff !important; text-decoration:none !important;}


.tstriped > tbody > tr:nth-child(2n+2) > td, .tstriped > tbody > tr:nth-child(2n+2) > th {
   background-color: #eafffc;
}

.tblink {font-weight:bold; color:#4C9EAA; }
.tblink:hover {font-weight:bold; color:#4C9EAA; }
.nolink {color:#000000 !important; text-decoration:none !important;}

.btn-primary {background-color: #4C9EAA !important;; color:#ffffff; border-radius: 12px; border:none !important;;}
.btn-primary:hover {background-color: #4C9EAA !important;}
.healshadow {box-shadow:0 0.1rem 0.5rem rgba(0,0,0,.15)!important; border-radius:12px !important;}
.healshadow1 {box-shadow:0 0.1rem 0.5rem rgba(0,0,0,.15)!important;}
.bgc1 {background-color: #f9feff;}
.f16 {font-size:16px;}
.cl01 {color:#575757 !important;}
.border-bottom {background: #ffffff;}

.uploadbox {
    height: 170px;
    width: 100%;
    background: #ffffff;
    border-radius: 12px;
   padding-top: 100px;
} 
/* .uploadpro {width: 200px;
    padding-bottom: 52px;
    margin-bottom: 50px;
    top: -54px;
    position: relative;
	border:1px solid #4C9EAA; border-radius: 0px 0px 12px 12px; background-color: #e6f9f6;} */
.uploadpro {width: 100%;
    
    margin-bottom: 50px;
    height:54px;
	top: -54px;
    position: relative;
	border:none; border-radius: 0px 0px 12px 12px; background-color: #e6f9f6;}

.uploadbox::-webkit-file-upload-button {
  visibility: hidden;
}
progress[value]::-webkit-progress-bar {
  background-color:#e6f9f6;
  border:1px solid #4C9EAA; border-radius: 0px 0px 12px 12px;
}

progress[value]::-webkit-progress-value { 
	background-color: #4c9eaa;
	border-radius: 0px 0px 12px 12px;
	left:-1px;
	position:relative;
}
.uploadbox::before {
content: 'Upload';
 display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
text-align:center;
  font-weight: 700;
  font-size: 10pt;
  position:relative;
  z-index:4;
  color:#4C9EAA;
  font-size: 22px;
  top:27px;
  width:100%;
  }
  
  .uploadtext {margin-top: 0;
    margin-bottom: 1rem;
    position: absolute;
    top: 100px;
    width: 200px;
    padding-top: 30px;}

.dvd  {margin: 1rem 0;
  color: inherit;
  background-color: #000000;
  border: 0;
  opacity: 0.25;}
.profiletxt {line-height:30px; font-size:18px; color:#636363;}
.leftpart {background-color: #effbfa; border-radius:8px;}



.multi_step_form {
 /*  background: #f6f9fb; */
  display: block;
  overflow: hidden;
}
.multi_step_form #msform {
  text-align: center;
  position: relative;
  padding-top: 50px;
  min-height: 800px;
/*   max-width: 810px; */
  margin: 0 auto;
 /*  background: #ffffff; */
  z-index: 1;
}
.multi_step_form #msform .tittle {
  text-align: center;
  padding-bottom: 55px;
}
.multi_step_form #msform .tittle h2 {
  font: 500 24px/35px "Roboto", sans-serif;
  color: #3f4553;
  padding-bottom: 5px;
}
.multi_step_form #msform .tittle p {
  font: 400 16px/28px "Roboto", sans-serif;
  color: #5f6771;
}
.multi_step_form #msform fieldset {
  border: 0;
  padding: 20px 105px 0;
  position: relative;
  width: 100%;
  left: 0;
  right: 0;
}
.multi_step_form #msform fieldset:not(:first-of-type) {
  display: none;
}
/* .multi_step_form #msform fieldset h3 {
  font: 500 18px/35px "Roboto", sans-serif;
  color: #3f4553;
  position:absolute;
  top:145px;
} */
.multi_step_form #msform fieldset h6 {
  font: 400 15px/28px "Roboto", sans-serif;
  color: #5f6771;
  padding-bottom: 30px;
}
.multi_step_form #msform fieldset .intl-tel-input {
  display: block;
  background: transparent;
  border: 0;
  box-shadow: none;
  outline: none;
}
.multi_step_form #msform fieldset .intl-tel-input .flag-container .selected-flag {
  padding: 0 20px;
  background: transparent;
  border: 0;
  box-shadow: none;
  outline: none;
  width: 65px;
}
.multi_step_form #msform fieldset .intl-tel-input .flag-container .selected-flag .iti-arrow {
  border: 0;
}
.multi_step_form #msform fieldset .intl-tel-input .flag-container .selected-flag .iti-arrow:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  font: normal normal normal 24px/7px Ionicons;
  color: #5f6771;
}
.multi_step_form #msform fieldset #phone {
  padding-left: 80px;
}
.multi_step_form #msform fieldset .form-group {
  padding: 0 10px;
  float:left;
}
.multi_step_form #msform fieldset .fg_2, .multi_step_form #msform fieldset .fg_3 {
  padding-top: 10px;
  display: block;
  overflow: hidden;
}
.multi_step_form #msform fieldset .fg_3 {
  padding-bottom: 70px;
}
.multi_step_form #msform fieldset .form-control, .multi_step_form #msform fieldset .product_select {
  border-radius:8px;
  border: 1px solid #90A4AE;
  padding: 0 20px;
  height: auto;
  font: 400 15px/35px "Roboto", sans-serif;
  color: #5f6771;
  box-shadow: none;
  outline: none;
  width: 100%;
}
.multi_step_form #msform fieldset .form-control.placeholder, .multi_step_form #msform fieldset .product_select.placeholder {
  color: #5f6771;
}
.multi_step_form #msform fieldset .form-control:-moz-placeholder, .multi_step_form #msform fieldset .product_select:-moz-placeholder {
  color: #5f6771;
}
.multi_step_form #msform fieldset .form-control::-moz-placeholder, .multi_step_form #msform fieldset .product_select::-moz-placeholder {
  color: #5f6771;
}
.multi_step_form #msform fieldset .form-control::-webkit-input-placeholder, .multi_step_form #msform fieldset .product_select::-webkit-input-placeholder {
  color: #5f6771;
}
.multi_step_form #msform fieldset .form-control:hover, .multi_step_form #msform fieldset .form-control:focus, .multi_step_form #msform fieldset .product_select:hover, .multi_step_form #msform fieldset .product_select:focus {
  border-color: #90A4AE;
}
.multi_step_form #msform fieldset .form-control:focus.placeholder, .multi_step_form #msform fieldset .product_select:focus.placeholder {
  color: transparent;
}
.multi_step_form #msform fieldset .form-control:focus:-moz-placeholder, .multi_step_form #msform fieldset .product_select:focus:-moz-placeholder {
  color: transparent;
}
.multi_step_form #msform fieldset .form-control:focus::-moz-placeholder, .multi_step_form #msform fieldset .product_select:focus::-moz-placeholder {
  color: transparent;
}
.multi_step_form #msform fieldset .form-control:focus::-webkit-input-placeholder, .multi_step_form #msform fieldset .product_select:focus::-webkit-input-placeholder {
  color: transparent;
}
.multi_step_form #msform fieldset .product_select:after {
  display: none;
}
.multi_step_form #msform fieldset .product_select:before {
  content: "";
  position: absolute;
  top: 0;
  right: 20px;
  font: normal normal normal 24px/48px Ionicons;
  color: #5f6771;
}
.multi_step_form #msform fieldset .product_select .list {
  width: 100%;
}
.multi_step_form #msform fieldset .done_text {
  padding-top: 40px;
}
.multi_step_form #msform fieldset .done_text .don_icon {
  height: 36px;
  width: 36px;
  line-height: 36px;
  font-size: 22px;
  margin-bottom: 10px;
  background: #5cb85c;
  display: inline-block;
  border-radius: 50%;
  color: #ffffff;
  text-align: center;
}
.multi_step_form #msform fieldset .done_text h6 {
  line-height: 23px;
}
.multi_step_form #msform fieldset .code_group {
  margin-bottom: 60px;
}
.multi_step_form #msform fieldset .code_group .form-control {
  border: 0;
  border-bottom: 1px solid #a1a7ac;
  border-radius: 0;
  display: inline-block;
  width: 30px;
  font-size: 30px;
  color: #5f6771;
  padding: 0;
  margin-right: 7px;
  text-align: center;
  line-height: 1;
}
.multi_step_form #msform fieldset .passport {
  margin-top: -10px;
  padding-bottom: 30px;
  position: relative;
}
.multi_step_form #msform fieldset .passport .don_icon {
  height: 36px;
  width: 36px;
  line-height: 36px;
  font-size: 22px;
  position: absolute;
  top: 4px;
  right: 0;
  background: #5cb85c;
  display: inline-block;
  border-radius: 50%;
  color: #ffffff;
  text-align: center;
}
.multi_step_form #msform fieldset .passport h4 {
  font: 500 15px/23px "Roboto", sans-serif;
  color: #5f6771;
  padding: 0;
}
.multi_step_form #msform fieldset .input-group {
  padding-bottom: 40px;
}
.multi_step_form #msform fieldset .input-group .custom-file {
  width: 100%;
  height: auto;
}
.multi_step_form #msform fieldset .input-group .custom-file .custom-file-label {
  width: 168px;
  border-radius: 5px;
  cursor: pointer;
  font: 700 14px/40px "Roboto", sans-serif;
  border: 1px solid #99a2a8;
  text-align: center;
  transition: all 300ms linear 0s;
  color: #5f6771;
}
.multi_step_form #msform fieldset .input-group .custom-file .custom-file-label i {
  font-size: 20px;
  padding-right: 10px;
}
.multi_step_form #msform fieldset .input-group .custom-file .custom-file-label:hover, .multi_step_form #msform fieldset .input-group .custom-file .custom-file-label:focus {
  background: #5cb85c;
  border-color: #5cb85c;
  color: #fff;
}
.multi_step_form #msform fieldset .input-group .custom-file input {
  display: none;
}
.multi_step_form #msform fieldset .file_added {
  text-align: left;
  padding-left: 190px;
  padding-bottom: 60px;
}
.multi_step_form #msform fieldset .file_added li {
  font: 400 15px/28px "Roboto", sans-serif;
  color: #5f6771;
}
.multi_step_form #msform fieldset .file_added li a {
  color: #5cb85c;
  font-weight: 500;
  display: inline-block;
  position: relative;
  padding-left: 15px;
}
.multi_step_form #msform fieldset .file_added li a i {
  font-size: 22px;
  padding-right: 8px;
  position: absolute;
  left: 0;
  transform: rotate(20deg);
}
.multi_step_form #msform #progressbar {
  /* margin-bottom: 30px; */
  overflow: hidden;
}
.multi_step_form #msform #progressbar li {
  list-style-type: none;
  color: #99a2a8;
  font-size: 9px;
  width: calc(100%/5);
  float: left;
  position: relative;
  font: 500 13px/1 "Roboto", sans-serif;
}
.multi_step_form #msform #progressbar li:nth-child(2):before {
  content: "2";
}
.multi_step_form #msform #progressbar li:nth-child(3):before {
  content: "3";
}
.multi_step_form #msform #progressbar li:nth-child(4):before {
  content: "4";
}
.multi_step_form #msform #progressbar li:nth-child(5):before {
  content: "5";
}
.multi_step_form #msform #progressbar li:before {
  content: "1";
  font: normal normal normal 30px/50px Ionicons;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: block;
  background: #eaf0f4;
  border-radius: 50%;
  margin: 0 auto 10px auto;
}
.multi_step_form #msform #progressbar li:after {
  content: "";
  width: 100%;
  height: 4px;
  background: #eaf0f4;
  position: absolute;
  left: -50%;
  top: 21px;
  z-index: -1;
}
.multi_step_form #msform #progressbar li:last-child:after {
  width: 150%;
}
.multi_step_form #msform #progressbar li.active {
  color: #4c9eaa;
}
.multi_step_form #msform #progressbar li.active:before, .multi_step_form #msform #progressbar li.active:after {
  background: #4c9eaa;
  color: white;
}

.multi_step_form #msform .action-button {
  background: #4c9eaa;
  color: white;
  border: 0 none;
  border-radius: 5px;
  cursor: pointer;
  min-width: 130px;
  font: 700 14px/40px "Roboto", sans-serif;
  border: 1px solid #5cb85c;
  margin: 0 5px;
  text-transform: uppercase;
  display: inline-block;
}
.multi_step_form #msform .action-button:hover, .multi_step_form #msform .action-button:focus {
  background: #405867;
  border-color: #405867;
}
.multi_step_form #msform .previous_button {
  background: transparent;
  color: #99a2a8;
  border-color: #99a2a8;
}
.multi_step_form #msform .previous_button:hover, .multi_step_form #msform .previous_button:focus {
  background: #405867;
  border-color: #405867;
  color: #fff;
}

.healnote{border-radius: 40px;
    background-color: #4C9EAA;
    padding: 3px 8px;
    font-size: 10px ;
    float: right;
    width: 22px;}
	

	
	
.text14 {font-size:14px;}
.text12 {font-size:12px;}
.lgrey {color:#767676;}



/* div */
.search-box {
  position: absolute;
  top: 4%;
	left: 82%;
  transform: translate(-100%, -50%);
  height: 50px;
  border-radius: 50px;
  padding: 10px;
  border: 1px solid #4C9EAA;
  
}

/* input */
.search-input {
  outline: none;
  border: none;
  background: none;
  width: 30px;
  padding: 0;
  color: #fff;
  float: left;
  font-size: 16px;
  transition: .3s;
  line-height: 35px;
}

.search-input::placeholder {
  color: #dbc5b0;
}

/* icon */
.search-btn {
  color: #fff;
  float: left;
  width: 35px;
  height: 35px;
  border-radius: 60px;

  display: flex;
  justify-content: left;
  align-items: left;
  text-decoration: none;
  transition: .3s;
    position: absolute;
}

/* .search-input:focus {background: #000000;} */

.search-input:focus,
.search-input:not(:placeholder-shown) {
  width: 340px;
  padding: 0 56px;
  color: #000000;
}


.search-box:hover > .search-input {
  width: 340px;
  padding: 0 56px;
}

.search-box:hover > .search-btn,
.search-input:focus + .search-btn,
.search-input:not(:placeholder-shown) + .search-btn {
  background: #fff;
  color: #cd595a;
  position: absolute;
}

.form-row {float:left !important;}

a{
  cursor: pointer;
}

.form-control:focus {
  color: #212529;
  background-color: #fff !important;
  border-color: #4C9EAA !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.25rem rgb(76 158 170 / 25%) !important;
}
.form-check-input:checked {
  background-color: #4C9EAA !important;
  border-color: #4C9EAA !important;
}

.theadheal {background-color:#4c9eaa; color:#ffffff;}

/* tr {
   line-height: 40px !important;
   min-height: 40px !important;
   height: 40px !important;
}*/
.theadheal {background-color:#4c9eaa; color:#ffffff;} 


/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #4c9eaa;
  border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4c9eaa;
}

.healbox2 {
  height: 100px;
  color: #343A40;
} 